<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

	<div class="jumbotron text-center">
		<div class="container">
			<a href="/" class="lang-logo"> <img src="/lang-logo.png">
			</a>
			<h1>Real State Form</h1>
		</div>
	</div>
	<div class="container">
		<div class="alert alert-info text-center" role="alert"></div>
		<hr>
		<div class="row">
			<div class="col-md-12">

				<form action="#" th:action="@{/RealStateForm}"
					th:object="${realStateForm}" method="GET">
					<div class="form-group">
						<label th:text="Imagen" /> <input type="file"
							th:field="*{reference}" />
					</div>
					<div class="form-group">
						<label>Calle 1</label> <input type="text" th:field="*{onStreet}" />
					</div>

					<div class="form-group">
						<label>Calle 2</label> <input type="text"
							th:field="*{Streetnumber}" />
					</div>


					<div class="form-group">
						<label>Entre calles?</label> <input type="text"
							th:field="*{onStreetbtwone}" />
					</div>


					<div class="form-group">
						<label>Estado</label> <input type="text" th:field="*{status}" />
					</div>

					<div class="form-group">
						<label>Metros Cuadrados</label> <input type="text"
							th:field="*{mcc}" />
					</div>

					<div class="form-group">
						<label>Metros D</label> <input type="text" th:field="*{mcd}" />
					</div>

					<div class="form-group">
						<label>Tiene Garage?</label> <input type="text"
							th:field="*{garage}" />
					</div>

					<div class="form-group">
						<label>Cantidad de baños</label> <input type="number"
							th:field="*{canttoilette}" />
					</div>

					<div class="form-group">
						<label>Garage Cubierto</label> <input type="text"
							th:field="*{garaberoof}" />
					</div>



					<p>
						<input type="submit" value="Submit" /> <input type="reset"
							value="Reset" />
					</p>
				</form>
			</div>
		</div>
		<!-- row -->
		<div class="alert alert-info text-center" role="alert"></div>
	</div>

</body>
</html>
